@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

main {
  min-height: 100vh;
  width: 100%;
  background: #f0ebf8;
  /* background: #333; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 40vw;
  padding: 2rem 4rem;
  background-color: white;
  border-radius: 10px;
  border-left: 8px solid #4285f4;
}

.container h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.container li {
  margin-top: 1.5rem;
  list-style: none;
  display: flex;
  align-items: center;
}
input {
  cursor: pointer;
}

.container label {
  /* font-weight: 400 !important; */
  margin-left: 10px;
}

#submit,
.btn {
  padding: 14px 30px;
  background-color: #4285f4;
  display: block;
  margin: auto;
  margin-top: 1.5rem;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-weight: bolder;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1.5px;
}

#showScore {
  padding: 2rem 4rem;
  background-color: #45aaf2;
  margin-top: 1rem;
  border-radius: 5px;
}

.scoreArea {
  display: none;
}

#showScore h3 {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}
#showScore .btn {
  background: #3867d6;
}
.toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

main.dark {
  background: #333;
}

main.dark > .container {
  background: #666;
  color: white;
}
.toggle-btn {
  background: #333;
  color: white;
}
.toggle-btn.dark {
  background: #f2f2f2;
  color: black;
}
main.dark > footer {
  color: #fff;
}
footer {
  margin-top: 5rem;
  /* display: none; */
}

@media (max-width: 780px) {
  .container {
    width: 90vw;
    padding: 2rem 1rem;
  }
  .container h2 {
    font-size: 1.3rem;
  }
  #showScore {
    padding: 1rem;
  }
}
